<section id="blog-preview"><h3>Blog</h3>
<div class="blog-preview">
	<div class="blog-roll-two">
	{% for post in site.posts limit: 5 %}
		{%- if post.image -%}
		<div class="b-card">
			<a href="{{- post.url -}}">
				<div class="blog-roll-text" style="background:linear-gradient(to top, rgba(24, 24, 24, 0.75) 50%, rgba(0, 0, 0, 0.1) 100%), url('{{ post.image }}'); background-size: cover;">
					<div class="b1"><h2>{{ post.title }}</h2></div>
					<div class="b2">{{ post.excerpt }}</div>
				</div>
			</a>
		</div>
		{%- else -%}
			{%- assign postImage = "{{ site.baseurl }}/assets/defaultPost.png" -%}
			<div class="b-card">
				<a href="{{ post.url }}">
					<div class="blog-roll-text" style="background:linear-gradient(to top, rgba(24, 24, 24, 0.75) 50%, rgba(0, 0, 0, 0.1) 100%),url('{{ postImage | relative_url }}');	background-size: cover;">
						<div class="b1"><h2>{{- post.title -}}</h2></div>
						<div class="b2">{{- post.excerpt -}}</div>
					</div>
				</a>
			</div>
		{%- endif -%}
{% endfor %}

		<div class="b-card" id="scrollie" style="display:flex; align-items: center; padding: 0rem -2rem; vertical-align:center;flex-direction: row;">
<a class="bloglink" target="_self" href="{{ site.baseurl }}/blog/">
	<button class="b-button">&nbsp;Older Posts<i class="fas fa-arrow-right"></i>&nbsp;</button>
</a>
	</div>
	</div>
</div>
</section>