<section id="about-the-game">
	<h3>Moonglow Bay</h3>
	<div class="game-info">
		<div class="slideshow">
			<picture>
				<img src="./img/mgb-screenshots/MoonglowBay_Screenshot_1.jpg" loading="lazy" alt="Moonglow Bay" width="960" height="540" />
			</picture>
			<picture>
				<img src="./img/mgb-screenshots/MoonglowBay_Screenshot_2.jpg" loading="lazy" alt="Moonglow Bay" width="960" height="540" />
			</picture>
			<picture>
					<img src="./img/mgb-screenshots/MoonglowBay_Screenshot_3.jpg" loading="lazy" alt="Moonglow Bay" width="960" height="540" />
			</picture>
			<picture>
					<img src="./img/mgb-screenshots/MoonglowBay_Screenshot_4.jpg" loading="lazy" alt="Moonglow Bay" width="960" height="540" />
			</picture>
			<picture>
					<img src="./img/mgb-screenshots/MoonglowBay_Screenshot_5.jpg" loading="lazy" alt="Moonglow Bay" width="960" height="540" />
			</picture>
		</div>
		<div class="trailer">
			<div class="iframe-wrapper">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/7z6NcJeqAbM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		</div>
		<div class="moonglow">
			Moonglow Bay is set along the Eastern Canadian coastline during the 1980s and offers players a diverse and emotionally charged story, complemented by a relaxing, slice-of-life fishing RPG.
			<br />
			You play as a rookie angler, struggling to fulfil your partner’s final wish by keeping a business afloat in this fishing town afraid to fish.
			<br /><br />
			This is our debut game and we're over the moon to be sharing it with you :)
			<br /><br />
			<a class="steam" target="_blank" href="https://store.steampowered.com/app/1361400/Moonglow_Bay/"><button class="c-button"><i class="fab fa-steam-symbol"></i>&nbsp;Play on Steam</button></a>
	
			&nbsp;<a class="xbox" target="_blank" href="https://www.microsoft.com/p/moonglow-bay/9p7vcsgbp9kl"><button class="c-button"><i class="fab fa-xbox"></i>&nbsp;Play on Xbox</button>
			
			&nbsp;<a class="epic" target="_blank" href="https://www.epicgames.com/store/en-US/p/moonglow-bay"><button class="c-button"><img class="svg-inline--fa" height="16"src="./img/Epic_games_store_logo.svg"/>&nbsp;Play on EGS</button></a>
				
				
			<br /><br />
				
			&nbsp;<a class="email" target="_blank" href="https://www.dropbox.com/sh/7d7uf7wmrq7h618/AAC8YHHYIrW5h2Ll7rZ88E_Ma/Moonglow%20Bay%20Press%20Kit?dl=0&subfolder_nav_tracking=1"><button class="c-button">&nbsp;<i class="fas fa-globe"></i>&nbsp;Website</button></a>
			&nbsp;<a class="email" target="_blank" href="https://www.dropbox.com/sh/7d7uf7wmrq7h618/AAC8YHHYIrW5h2Ll7rZ88E_Ma/Moonglow%20Bay%20Press%20Kit?dl=0&subfolder_nav_tracking=1"><button class="c-button"><i class="fa-solid fa-bullhorn"></i>&nbsp;Presskit</button></a>
		</div>
</section>
