			<a class="bloglink" target="_self" href="{{base}}/blog/">
			<i class="fas fa-newspaper fa-fw"></i>
			</a>
			<a class="discord" target="_blank" href="https://discord.gg/K8sknEx">
				<i class="fab fa-discord"></i>
			</a>
			<a class="twitter" target="_blank" href="https://twitter.com/BunnyhugGames">
				<i class="fab fa-twitter"></i>
			</a>
			<a class="tiktok" target="_blank" href="https://www.tiktok.com/@bunnyhuggames">
				<i class="fab fa-tiktok"></i>
			</a>
			<a class="instagram" target="_blank" href="https://www.instagram.com/BunnyhugGames/">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="email" target="_blank" href="mailto:hello@bunnyhug.games">
				<i class="fas fa-envelope"></i>
			</a>